body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      
.footer {
	text-align: right;
	margin-top: 100pt;
	margin-right: 100pt;
	color: #cccccc;
	font-size: small;
}
ol {
	list-style-type: lower-alpha;
}

div.answer div.answerCheckbox {
display: inline-block;
}

div.answer div.answerContent {
	display: inline-block;
}

.answer {
	color: inherit;
	text-decoration: none;
	display: block;
}

.answer:hover {
	background-color: #BCDAFF;	
	color: black;
	text-decoration: none;
}

.answer .answerSelected {
	background-color: #BCDAFF;	
}